@use "../../styles/container" as container;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.speakers {
  position: relative;
  z-index: 1;
  margin-top: 150px;
  overflow: hidden;
  
  &::before {
    content: '';
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 1150px; 
    height: 1150px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    z-index: 0;
  }

  // Rectangle Shape
  &::after {
    content: '';
    position: absolute;
    top: 400px; 
    left: 50%;
    transform: translateX(-50%);
    width: 870px; 
    height: 750px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
    // width: 100%;
  }

  &__title {
    color: $light-color;
    font-family: $font-light;
    text-transform: uppercase;
    font-size: 168px;
  }

  &__slider {
    width: 100%;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
  }
}

@include onMobile {
  .speakers {
    &__title {
      font-size: 44px;
      line-height: 52px;
    }

    &__slider {
      margin-top: 50px;
    }
  }
}

.container {
  @extend .container;
}