@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.speakers-scrollbar {
  display: flex;
  gap: 160px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 20%;
  margin-right: -20%;
  cursor: grab;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  transition: transform 3s ease-out;

  &.scrolling-active {
    scroll-behavior: auto; // Disable smooth behavior during drag
    transition: none; // Disable CSS transitions during drag
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &:active {
    cursor: grabbing;
  }

  &__card {
    scroll-snap-align: start;
  }

  .scrolling-active &__card {
    transform: scale(0.98); // Slight shrink effect
  }
}

.speakers-card {
  position: relative;
  color: $light-color;
  font-family: $font-light;
  flex: 0 0 auto;
  user-select: none;
  transition: transform 0.3s ease;

  &__image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }

  &:nth-child(even) {
    width: 275px;
    height: 485px;
    margin-top: 50px;
  }

  &:nth-child(odd) {
    width: 380px;
    height: 650px;
    margin-top: 150px;

    .speakers-card__info--logo {
      height: 60px;
    }
  }

  &:hover {
    transform: translateY(-5px);
  }

  &__flag {
    text-transform: uppercase;
    color: $light-color;
    font-size: 24px;
    display: inline;
    padding: 2px 30px;
    position: absolute;
    background-color: $red-color;
    top: -32px;
    left: 0;
    pointer-events: none;
  }

  &__title {
    font-size: 22px;
    text-transform: uppercase;
    text-align: start;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

    &--text {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 5px;
      text-transform: uppercase;
    }

    &--logo {
      height: 50px;
    }

    &--left {
      font-family: $font-regular;
    }

    &--right {
      opacity: 0.6;
      text-align: start;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
    text-align: start;
    pointer-events: none;
    // text-transform: uppercase;
  }

  &__link {
    background-color: $dark-color;
    width: 57px;
    height: 57px;
    display: inline-block;
    padding: 12px;
    cursor: pointer;

    & img {
      width: 32px;
      height: 32px;
      margin: 0 auto;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 125px;
  }

  &__logo {
    width: 179px;
  }
}

@include onMobile {
  .speakers-card {
    &:nth-child(even) {
      width: 380px;
      height: 650px;

      .speakers-card__info--logo {
        height: 60px;
      }
    }

    &:nth-child(odd) {
      margin-top: 50px;
    }
  }
}

#misha {
  flex-direction: column;
  align-items: start;
  gap: 10px;

  & img {
    width: 380px;
  }
}
