$font-main: "Gilroy", sans-serif;
$font-regular: "Gilroy-Regular";
$font-light: "Gilroy-Light";
$font-bold: "Gilroy-Medium";
$dark-color: #161616;
$light-color: #f5f5f5;
$red-color: #de210d;
$spacing: 2rem;

