@use "../../styles/variables" as *;
@use "../../styles/container" as container;
@use "../../styles/mixins" as *;

.main-screen {
  overflow: hidden;
  width: 100%;
  background-color: $dark-color;
  background-image: url('../../images/layerGraine.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  padding-top: calc(100px);
  color: $light-color;

  // Circle Shape
  &::before {
    content: '';
    position: absolute;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px; 
    height: 1400px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    z-index: 0;
  }

  // Rectangle Shape
  &::after {
    content: '';
    position: absolute;
    top: -220px; 
    left: 50%;
    transform: translateX(-50%);
    width: 1070px; 
    height: 1070px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__reactangle, &__circle {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: -1000;
    border: 1px solid rgba($color: #fff, $alpha: 0.3);
    overflow: hidden;
  }

  &__reactangle {
    top: -175px;
    width: 1019px;
    height: 1019px;
  }

  &__circle {
    top: -380px;
    width: 1440px;
    height: 1440px;
    border-radius: 50%;
  }

  &__title {
    margin-top: 159px;

    &--mobile {
      display: none;
    }
  }

  &__info {
    margin: 255px 0 78px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: "Gilroy-Light";

    &--center {
      max-width: 497px;
    }
  }

  @include onMobile {
    &::before {
      width: 800px;
      height: 800px;
      top: 146px;
    }

    &::after {
      top: 260px;
      width: 560px;
      height: 570px;
    }

    &__title {
      display: none;

      &--mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
        margin-top: 100px;
        font-size: 57px;
        line-height: 56px;
        text-transform: uppercase;
      }
    }

    .title {
      &__second-line {
        &--mobile {
          display: flex;
          gap: 35px
        }
      }

      &__bracket-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 142px;
      }

      &__bracket {
        font-size: 93px;

        &--left {
          margin: 0 9px 24px 0;
        }

        &--right {
          margin: 0 0 24px 9px;
        }
      }

      &__image {
        & img {
          height: 84px;
        }

        &::before, ::after {
          font-size: 12px;
          bottom: -23px;
        }
      }
    }

    &__info {
      display: flex;
      align-self: center;
      max-width: 350px;
      text-align: justify;

      &--left,
      &--right {
        display: none;
      }
    }
  }
}

.container {
  @extend .container;
}

.title {
  text-transform: uppercase;
  font-family: "Gilroy-Light";
  font-size: 80px;
  width: max-content;

  &__second-line {
    display: flex;
    align-items: center;
    margin-top: 29px;
  }

  &__bracket {
    font-family: "Gilroy-Thin";
    font-size: 120px;
    opacity: 30%;

    &--left {
      margin: 0 12px 0 2px;
    }

    &--right {
      margin: 0 12px;
    }
  }

  &__image {
    position: relative;
    height: 108px;
    display: flex;
    flex-direction: column;

    &::before {
      content: '02.11';
      position: absolute;
      font-size: 16px;
      text-transform: initial;
      left: 0;
      bottom: -25px;
    }

    &::after {
      content: 'Вінниця';
      position: absolute;
      font-size: 16px;
      text-transform: initial;
      right: 0;
      bottom: -25px;
    }

    & img {
      height: 108px;
    }

    &--details {
      display: flex;
      justify-content: space-between;
      margin-top: 9px;
      text-transform: initial;
      font-size: 16px;
      line-height: 15.52px
    }
  }
}
