@use "../../styles/variables" as *;
@use "../../styles/container" as container;
@use "../../styles/mixins" as *;

.team {
  width: 100%;
  margin-top: 150px;
  // height: 150vh;
  height: max-content;
  z-index: 10;
  background: none;

  &__container {
    @extend .container;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: $light-color;
  }
}

.team-left {
  width: 500px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-start;

  img {
    @include onMobile {
      width: 268px;
      height: 278px;
    }
  }
}

.team-left-photo-descr {
  width: 270px;
  opacity: 0.6;
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team-left-descr {
  margin-top: 123px;
  width: 274px;
  color: $light-color;
  font-family: $font-light;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}

.team-right {
  width: 500px;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.team-right-title {
  position: relative;
  text-align: right;

  color: $light-color;
  text-align: right;
  font-family: $font-main;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.team-right-img {
  margin-top: 190px;
  position: absolute;
}

.team-right-descr {
  position: relative;
  width: 315px;
  margin-top: 580px;
  text-align: right;
  color: $light-color;
  text-align: right;
  font-family: $font-light;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

@media (min-width: 376px) and (max-width: 768px) {
  .team-left-img {
    width: 343px;
    height: 288px;
  }

  .team {
    color: red;
  }
}
