@use "../../styles/variables" as *;
@use "../../styles/container" as container;
@use "../../styles/mixins" as *;

.about {
  margin-top: 150px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $light-color;
  gap: 98px;

  h2 {
    font-size: 2rem;
  }
}

.about-content-left,
.about-content-right {
  width: 45%;
  height: 90%;
}

.about-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    line-height: 24px;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    width: 87%;
  }
}

.about-row-divider {
  width: 50vw;
  opacity: 10%;
  margin: 37px 0;
  position: relative;
  left: calc(-50vw + 100%);

}

.about-content-left-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.about-content-left-details-num {
  line-height: 80px;
  text-align: end;
  font-size: 110px;
}

.about-content-left-details-txt {
  font-size: 16px;
  line-height: 20px;
  font-family: $font-light;
}

.about-content-right-title {
  line-height: 116px;
  font-size: 100px;
  text-transform: uppercase;
  text-align: right;
  margin-top: 40px;
  margin-bottom: 141px;
}

.about-content-right-p {
  opacity: 60%;
}

.container {
  @extend .container;
}

@include onMobile {
  .about {
    max-width: 768px;
    margin: 0;
    padding: 0;
    height: max-content;
    display: flex;
    flex-direction: column-reverse;
  }

  .about-content-left,
  .about-content-right {
    width: 100%;
    height: max-content;
    padding: 16px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-content-right,
  .about-content-left {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .about-content-right {
    padding-right: 16px;
    display: flex;
    align-items: flex-end;
  }

  .about-row-divider {
    width: 100%;
    margin-left: 0;
    left: 0;
  }

  .about-content-left-details {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .about-content-left-details-num {
    font-size: 80px;
  }

  .about-content-right-title {
    width: 333px;
    margin-right: 16px;
    margin: 0;
    font-size: 44px;
    line-height: normal;
    text-align: right;
  }

  .about-content-right-p,
  .about-content-right p {
    width: 345px;
    font-size: 22px;
    margin-right: 16px;
    margin: 0;
    padding: 0;
  }
}
