@use "../../styles/variables" as *;
@use "../../styles/container" as container;
@use "../../styles/mixins" as *;

.program {
  margin-top: 150px !important;
  padding: 0;
  width: 100%;
  z-index: 10;
  color: $light-color;
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.program-main {
  width: 100%;
  height: max-content;
  margin: 0 auto;
  color: $light-color;
  background-image: url(../../images/programBG.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.program-main-about {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.program-main-about-info {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.program-main-about-info span {
  margin: 0;
  transform: translateY(var(--offset, 0px));
}
.program-main-about-info span:nth-child(1) {
  --offset: -80px;
}
.program-main-about-info span:nth-child(2) {
  --offset: -40px;
}
.program-main-about-info span:nth-child(3) {
  --offset: 20px;
}

.program-main-title {
  width: 514px;
  text-align: right;
  font-size: 100px;
}

.program-main-about-txt span {
  text-align: right;
  font-size: 16px;
}

.program-main-bottom-txt {
  width: 90%;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  p {
    width: 490.277px;
    font-size: 22px;
    line-height: 24px;
    text-align: left;
  }
  span {
    text-align: right;
    font-size: 16px;
  }
}

table {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

td,
th {
  margin: 20px;
  padding: 27px;
  text-align: left;
  border: none;
}
.tab {
  font-size: 22px;
  text-align: center;
  border-bottom: 1px solid $light-color;
  font-weight: 300;
  cursor: pointer;
}
.tab:hover {
  background-color: $light-color;
  color: $dark-color;
}

.tab.active {
  background-color: $light-color;
  color: $dark-color;
}
table tr td {
  border-bottom: 1px solid $light-color;
}

table tr td:nth-child(1) {
  width: 20%;
  font-size: 16px;
  text-align: left;
}

table tr td:nth-child(2) {
  font-size: 22px;
  text-align: center;
}

table tr td:nth-child(3) {
  width: 305px;
  font-size: 16px;
  text-align: right;
}

table tr th:nth-child(1) {
  text-align: left;
}
table tr th:nth-child(3) {
  text-align: right;
}

td:first-child,
th:first-child {
  padding-left: 80px;
}

td:last-child,
th:last-child {
  padding-right: 80px;
}

.program__info {
  &--type {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
  }
}
// mobile schedule
.program__container_mobile {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: none;
  p {
    margin-left: 16px;
    margin-right: 16px;
  }
}

// end of mobile schedule

@include onMobile {
  .program-main {
    background-image: url(../../images/programBGmob.png);
    width: 100%;
    height: max-content;
    background-repeat: no-repeat;
    background-size: cover;
    height: 426px;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    justify-content: space-around;
  }

  .program-main-about {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }

  .program-main-about-info {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-right: 16px;
  }

  .program-main-about-info span:nth-child(-n + 3) {
    --offset: 0px;
  }

  .program-main-title {
    font-size: 44px;
    width: 300px;
    text-align: right;
  }

  .program-main-bottom-txt {
    margin: 0;
    margin-top: 77px;
    margin-bottom: 22px;
  }

  .program-main-bottom-txt-none-mob {
    display: none;
  }

  .program-main-bottom-txt p {
    font-size: 22px;
    text-align: justify;
  }

  .program-main-bottom-txt-year {
    display: none;
  }

  .program__container_mobile {
    display: block;
  }

  .program__container {
    display: none;
  }

  .tabs {
    flex-direction: column;
    align-items: center;
  }

  .event {
    text-align: center;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
  }

  .tab {
    width: 100%;
    background-color: transparent;
    font-size: 22px;
    text-align: center;
    color: $light-color;
    font-family: $font-main;
    text-transform: uppercase;
    font-weight: 300;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .events-divider {
    width: 100%;
    margin: 0;
    height: 1px;
    color: $light-color;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .tab:hover {
    background-color: $light-color;
    color: $dark-color;
  }

  .tab.active {
    background-color: $light-color;
    color: $dark-color;
  }

  .events {
    display: grid;
  }

  .event {
    display: flex;
    flex-direction: column;
  }

  .event-time,
  .event-type,
  .event-title,
  .event-person {
    margin: 4px 0;
  }
  .event-time,
  .event-person,
  .event-type {
    font-size: 16px;
  }
  .event-title {
    font-size: 22px;
  }
}
