@use "../../styles/variables" as *;
@use "../../styles/container" as container;

.program {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 10;
  color: $light-color;
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.program-main {
  width: 100%;
  height: 500px;
  color: $light-color;
  background-image: url(../../images/programBG.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.program-main-about {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.program-main-about span {
  margin: 0;
  transform: translateY(var(--offset, 0px));
}
.program-main-about span:nth-child(1) {
  --offset: -80px;
}
.program-main-about span:nth-child(2) {
  --offset: -40px;
}
.program-main-about span:nth-child(3) {
  --offset: 20px;
}

.program-main-title {
  width: 514px;
  text-align: right;
  font-size: 100px;

}

.program-main-about-txt span {
  text-align: right;
  font-size: 16px;
}

.program-main-bottom-txt {
  width: 90%;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  p {
    width: 490.277px;
    font-size: 22px;
    line-height: 24px; 

  }
  span {
    text-align: right;
    font-size: 16px;
  }
}

table {
  width: 100%; 
  height: 500px;
  // padding-left: 150px;
  border-collapse: collapse; 
}

td {
  margin: 20px;
  padding: 10px;
  text-align: left;
  border: none; 
}

table tr td {
  border-bottom: 1px solid $light-color;
}

table tr td:nth-child(1) {
  width: 20%;
  text-align: right;
  font-size: 16px;
  text-align: left;

}

table tr td:nth-child(2) {
  text-align: right;
  font-size: 22px;
  text-align: center;
}

table tr td:nth-child(3) {
  width: 305px;
  text-align: right;
  font-size: 16px;
  text-align: right;
}

td:first-child {
  padding-left: 80px;
}

td:last-child {
  padding-right: 80px;
}

.program__info {
  &--type {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }
}