@use "./styles/styles-imports" as *;
@use "./styles/container" as container;
@use "./styles/fonts" as fonts;
@use "./styles/global" as global;
@use "./styles/variables" as *;

.App {
  background-color: $dark-color;
  font-family: "Gilroy-Light",  $font-main;
  text-align: center;
  padding: 0;
}
