@use "./styles/styles-imports" as *;
@use "./styles/container" as container;
@use "./styles/fonts" as fonts;
@use "./styles/global" as global;
@use "./styles/variables" as *;

.App {
<<<<<<< HEAD
  font-family: $font-main;
  background-color: $dark-color;
=======
  font-family: "Gilroy-Light";
>>>>>>> 2710e5cc0a234ef4b95cd5609cac98fafafa2deb
  text-align: center;
  padding: 0;
}
